@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSansRegular.eot");
    src: url('../fonts/OpenSans.eot?#iefix') format('embeddedopentype'),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    
}


 @font-face {
     font-family: "Open Sans Bold";
     src: url("../fonts/OpenSansBold.eot");
     src: url('../fonts/OpenSansBold.eot?#iefix') format('embeddedopentype'),
     url("../fonts/OpenSansBold.woff") format("woff"),
     url("../fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
 }


@font-face {
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSansSemiBold.eot");
    src: url('../fonts/OpenSansSemiBold.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Open Sans Semibold") format("woff"),
    url("../fonts/OpenSansSemiBold.ttf") format("truetype");
     font-style: normal;
     font-weight: normal;
}

/* Сброс стилей */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset,  form,  label,  legend,  table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
   
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/*article,  aside,  details,  figcaption,  figure,  footer,  header,  hgroup,  menu,  nav, 
section {
    display: block;
}
*/



a   {
cursor: pointer;
text-decoration: none;
  
}


a:hover{
    text-decoration: none;
    
}

html { 
    overflow-x:  hidden;
     }


li {
    list-style-type: none; /* Убираем маркеры */
   }

body {
  font-family: 'Arial Black', arial;
  color: #fff;
}

.partners__description {
line-height: 1em;
text-transform: uppercase;
color: #fff;
font-weight:bold;
text-shadow:0px 0px 0 rgb(124,189,211),1px 1px 0 rgb(124,189,211),2px 2px 0 rgb(124,189,211),3px 3px 0 rgb(124,189,211),4px 4px 0 rgb(124,189,211),5px 5px 0 rgb(124,189,211), 6px 6px 0 rgb(124,189,211),7px 7px 6px rgba(124,189,211,0.3),7px 7px 1px rgba(124,189,211,0.5),0px 0px 6px rgba(124,189,211,.2);}


#price{position:relative;
background: url(../img/info_out.png) no-repeat;
background-position: center;
background-size: cover;
background-repeat: no-repeat;     
padding-bottom: 30px;
position: relative;
z-index: 2;
/*opacity: 0.7;*/
min-height: 1596px;

}

#price_big {
  background:url(../img/info.jpg) no-repeat;
background-position: center;
background-size: cover;
background-repeat: no-repeat;     
position: relative;
z-index: 1;
}

/*.model {
    display: block;
  width: 100vw;
  position: relative;
  margin-top: 300px;
  right: 0;
  max-height: 800px;
left: 0;
z-index: 12;

}*/

/*.table {
 display: block;
  
  position: relative;
  
z-index: 3;
}*/

.price_content {
  position: absolute;
  top: 0;
  
  right:0;
  left: 0;
  z-index: 22236;
}

.overlay{
background-color: rgba(141,216,242, 0.6);
/*position: absolute;
height: 100%;
top:700;
right: 0;
left: 0;*/
z-index: 2;
/*min-height: 1000px;
height: 100%;*/
}

h2.price_title {
line-height: 1em;
text-transform: uppercase;
color: #fff;
margin-top: 92px;
font-size: 42px;
text-align: center;
padding-left: 20px;
}

.dotted_line {
  display: block;
  margin:auto;
  margin-bottom: 30px;
  margin-top: 30px;
}


.price_textTitle {
  text-transform: uppercase;
  color: #32525d;
  font-size: 26px;
  display: block;
  line-height: 42px;
  text-align: center;
   width: 100%;
  margin:auto;
  
   font-style: normal;
}

.price_icon {
  display: block;
  margin:auto;
  height: 188px;
}

.price_text {
  color: #32525d;
  text-transform: uppercase;
  font-style: italic;
  text-align: left;
  font-size: 16px;
  width: 90%;
  margin:auto;
}

.price__numbers {
 font-size: 74px;
margin:auto;
text-align: center;
letter-spacing: 0.95;
line-height: 1.3;
text-shadow: 5px 8px #61b3ce, 0px 4px #61b3ce; 
color: #fff;
margin-right: 10px;
}

.four_number {
  margin:auto;
  display: block;
  font-size: 84px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.price_text.centered {
  color: #2c6480;
  width: 95%;
  margin:auto;
  line-height: 2;
  text-align: center;
  font-size: 26px;
  line-height: 45px;
  color: #2c6480;
  text-transform: none;
}



#audience{position:relative;
min-height:797px;
background:url(../img/directions.jpg) no-repeat;
background-size:cover;
background-position:left top;
padding-bottom: 30px;
padding-top: 84px;
}

.audience__description {
text-transform: uppercase;
font-size: 48px;
margin:auto;
text-align: center;
margin-bottom: 84px;
font-family: 'Arial Narrow', arial;
letter-spacing: 0.95;
line-height: 1.3;


}

.audience__group {
background-color: #fff;
min-height: 51px;
width: 90%; 
margin:auto;
margin-top: 11px;
margin-bottom: 11px;
line-height: 51px;
padding-left: 20px;
}

.audience_text {
color: #227792;
text-transform: uppercase;
font-style: italic;
font-size: 24px;
}

img.audience__arrow {
  max-width: 30px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 10px;
}


#partners{position:relative;
min-height:803px;
background:url(../img/partners.jpg) no-repeat;
background-size:cover;
background-position:center;

}

img.businessman {
  height: 90%;
  max-height: 781px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.partners__description {
  text-align: center;
  margin-top: 89px;
  margin-bottom: 48px;

}

.partners__description.big_text{
  font-size: 67px;
  margin-left: 32px;
}

.partners__description.middle_text{
  font-size: 38px;
  margin-left: 32px;
}

.partners__description.small_text{
  font-size: 20px;
  margin-bottom: 17px;
  text-align: left;
}

.partner_logo {
  margin-right: 54px;
  margin-left: 32px;
}

.zum {
max-height: 154px;
}




#schema{position:relative;
min-height:797px;
background:url(../img/pure.png) no-repeat;
background-size:cover;
background-position:center;
padding-bottom: 30px;
}

h2.schema__title {
  text-transform: uppercase;
font-size: 48px;
margin:auto;
text-align: center;
margin-top: 110px;
letter-spacing: 0.95;
line-height: 1.3;
}

.graf {
  height: 700px;  
  position: relative;
  padding-right: 0;
  padding-left: 0;
 
}

.step2 {
  position: absolute;
  bottom: 52px;
  left: 262px;
}

.step3 {
  position: absolute;
  bottom: 122px;
  left: 502px;
}

.step4 {
  position: absolute;
  bottom: 172px;
  left: 672px;
}

.step5 {
  position: absolute;
  top: 172px;
  right: -62px;
}

.step6 {
  position: absolute;
  top: 112px;
  right: -92px;
}



.schema_text {
display: inline-block;
text-transform: uppercase;
font-style: italic;
}

.schema_text.step4 span {
  text-align: right;
  display: block;
  
}



#result{position:relative;
height: 100%;
min-height:794px;
background:url(../img/gor2.png) no-repeat;
background-size:cover;
background-position:center;
padding-bottom: 30px;
padding-top: 92px;
}

h2.result__title {
text-transform: uppercase;
font-size: 54px;
margin:auto;
text-align: center;
font-style: italic;
letter-spacing: 0.75px;
line-height: 1.3;
}

h2.result__title.get {
  margin-bottom: 45px;
}

.results_text {

font-size: 34px;
margin:auto;
text-align: center;
letter-spacing: 0.95;
line-height: 1.3;
text-shadow: 5px 8px #61b3ce, 0px 4px #61b3ce;
}

.results_text span {
font-size: 82px;


}

.result__free {
text-transform: uppercase;
font-size: 48px;
margin:auto;
text-align: center;
letter-spacing: 1.2;
line-height: 1.3;
text-shadow: 5px 4px #49a2bf;
}
.result__free.doubt {
margin-bottom: 45px;
margin-top: 45px;
}


#form {
  background-color: #74c9e6;
  min-height: 788px;
  padding-top: 60px;
  padding-bottom: 90px;
}

.form__title {
text-transform: uppercase;
font-size: 54px;
margin:auto;
text-align: center;
letter-spacing: 0.95;
line-height: 1.3;
text-shadow: 0px 8px #49a2bf, 0px 4px #49a2bf;
margin-bottom: 33px; 
}

.form_field {
width: 80%;
margin:auto;
max-width: 788px;
}

::-webkit-input-placeholder {color:#fff; }
::-moz-placeholder          {color:#fff; }/* Firefox 19+ */
:-moz-placeholder           {color:#fff; }/* Firefox 18- */
:-ms-input-placeholder      {color:#fff; }

textarea {
  resize: none;
  margin:auto;
  background-color:#8dd8f2;
  border: 1px solid #8dd8f2;
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  width: 788px;
  height: 213px;
  text-shadow: 0px 8px #49a2bf, 0px 4px #49a2bf;
  padding-top: 46px;
}

.blue_field {
  padding-bottom: 31px;
  background-color: #8dd8f2;margin-top: -20px;
}

.questions_btn {
  background-color: #98dff7;
  float: right;
  width: 242px;
  height: 85px;
  line-height: 85px;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 30px;
   text-shadow: 5px 4px #008ba9; 
   border: 1px solid #98dff7;
  
}

.questions_btn:hover{
background-color: #50b3d3;
border: 2px solid #50b3d3;  
}

div.modal-content
{
    
    padding: 20px;
    position: relative!important;
    z-index: 3000;
    max-width: 450px;
    margin: auto;
    min-height: 280px;
    background-color: #74c9e6;
    
}

.order_backcall {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

div.modal-content.form-control{
  font-size: 20px;
}


button.close
{
    position: absolute;
    z-index: 9999;
    top: 10px;
    right: 10px;
}

.modal {
    overflow-x: hidden;
}

.modal-call-body {
   min-height: 300px;
}

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 50px;
  right: 3%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.graf_container2 {
  display: none;
}
@media screen and (max-width : 1200px){
.graf_container{
  display: none;
}
.graf_container2 {
  display: block;
  width: 80%;
  margin:auto;

}
.schema_text2 {
display: block;
text-transform: uppercase;
font-size: 24px;
text-align: left;
margin-bottom: 20px;
margin-top: 20px;

}
.schema_text span {
margin-right: 20px;
}


